.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
}
h1 {
  font-family: "Comic Relief", system-ui;
  font-size: 700;
  background-color: rgb(40, 20, 20);
  color: azure;
  height: 5rem;
  line-height: 5rem;
}
#choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px 0;
}
.choice {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(40, 20, 20);

  display: flex;
  align-items: center;
  justify-content: center;
}
.choice :hover {
  opacity: 0.5;
  cursor: pointer;
}

img {
  height: 190px;
  width: 190px;
  object-fit: cover;
  border-radius: 50%;
}
#scoreboard {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}
.scores {
  font-size: 3rem;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
}
#massagebox {
  margin-top: 30px;
}
#massage {
  display: inline;
  padding: 5px;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
}
